---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <Header />
        <main class="max-sm:mt-10">
            <h1>🧑‍🚀 HELLOO!</h1>
            <p class="mt-10">
                Welcome! 
                <br /><br />
                This is my time writing a blog, so please bear with me as my interest in writing blogs started to kick in.
                I want to be good at writing stories and blogs, not just in tech.
            </p>
            <p>
                I guess the ability to write stories and blog could help improve my delivery skills when it comes to presenting. 
            </p>
            <p>
                Also, I want to practice Astro Framework, so might as well utilize this astro framework for my blog.. 
            </p>
        </main>
        <Footer />
    </body>
</html>
